.bg-white.p-6.rounded-lg.shadow-lg.max-w-md.w-full {
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
  }
  

  #calculatrice
  {/* margin-top: 1%; *//* border-radius: 38px; *//* size: ledger; */}
.custom-margin {
  @apply mt-20;
}

.modal-box{
  box-shadow: 0px 0px 19px 0px #eae7e7;
}